@import "tailwindcss";

:root {
  --background: #f7f7f8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* font */
  --font-geist: var(--font-geist);
}

@theme {
  /* breakpoints */
  --breakpoint-2xl: 1440px;

  --color-primary: #09090b;

  /* all shadows */
  --shadow-server-button: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04);
  --shadow-pricing: 0px 10px 32px 0px rgba(33, 33, 38, 0.15),
    0px 1px 1px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(19, 19, 22, 0.05),
    0px 4px 6px 0px rgba(33, 33, 38, 0.08),
    0px 24px 68px 0px rgba(33, 33, 38, 0.1);
  --shadow-pricing: 0px 0px 0px 1px rgba(0, 0, 0, 0.07),
    0px 2px 4px 0px rgba(0, 0, 0, 0.05), 0px 12px 24px 0px rgba(0, 0, 0, 0.05);
  --shadow-footer-button: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04);
  --shadow-hero-button: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04);
}

@layer base {
  body {
    @apply box-border p-0 m-0 font-geist text-foreground bg-background max-w-[1440px] mx-auto;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .wrapper {
    @apply xl:max-w-[1080px] lg:max-w-[960px] md:max-w-[700px] sm:max-w-[580px] max-w-[310px] mx-auto;
  }

  .grid-item-class {
    @apply border border-[#0000000D] w-[89.91px] h-[89.91px] p-0 m-0 lg:block hidden;
  }

  .server-button {
    @apply text-sm font-medium flex gap-1.5 border-[#EBEBEB] border shadow-server-button rounded-[100px] py-[9px]  px-2 lg:px-[12px] bg-white;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
}
