@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-geist: var(--font-geist);
}

@theme {
--color-primary: #09090B;
--color-border: 
}

@layer base {
  body {
    @apply box-border p-0 m-0 font-geist text-foreground bg-background;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .wrapper {
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
}
